<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Node Authentication</h1>
				<p>Login or Register</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Local Login
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Local Signup
				</a>
			</div>
		</div>
	</div>

</body>
</html>
