<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <header class="text-center">
        <h1>Profile Page</h1>
        <a href="/logout" class="btn btn-light btn-sm">
          Logout
        </a>
      </header>
      <hr>
      <div class="container">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><span class="fa fa-user"></span> Local</h3>
              <p>
                <strong>id</strong> : <%= user._id %> <br>
                <strong>email</strong> : <%= user.local.email %> <br>
                <strong>password</strong> : <%= user.local.password %>
              </p>
              <a href="/logout" class="btn btn-light btn-sm">
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
